body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: rgb(116, 119, 118);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    height: 100vh;
    position: fixed;
}

header h1 a {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#sign ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

#sign ul li {
    margin-bottom: 10px;
}

#sign ul li a {
    color: white;
    text-decoration: none;
}

#back button {
    background-color: rgb(116, 119, 118);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-top: auto;
}

main {
    margin-left: 20px;
    padding: 20px;
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.artist-list {
    display: flex;
    flex-wrap: wrap; /* 必要に応じて折り返し */
    gap: 20px; /* 画像間の余白 */
}

.artist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    position: relative;
    display: inline-block;
    margin: 10px;
}


.artist-image-container {
    position: relative;
}

.artist-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.artist-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

.search_container {
    box-sizing: border-box;
    position: relative;
    border: 1px solid white;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    width: 260px;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 300px;
}

.search_container input[type="text"] {
    border: none;
    height: 2.0em;
    background-color: black !important;
    color: white !important;
    width: 85%;
    caret-color: white;
}

.search_container input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search_container input[type="text"]:focus {
    outline: none;
    background-color: black !important;
    color: white !important;
}

.search_container input[type="text"]:-webkit-autofill,
.search_container input[type="text"]:-webkit-autofill:hover,
.search_container input[type="text"]:-webkit-autofill:focus {
    background-color: black !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px black inset !important;
}

.search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: white;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline: none;
}

main h1 {
    margin-left: 300px;
}

main ul {
    margin-left: 300px;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.artist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
}