{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>年間制作</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
  <!--ヘッダー-->
  <header>
    <div id="title">
      <h1><a href="{% url 'musicapp:index' %}">sfotipy</a></h1>
    </div>
    <nav id="global_navi">
        <ul>
            <li><a href="{% url 'musicapp:index' %}">ホーム</a></li>
            <li><a href="{% url 'musicapp:search' %}">検索</a></li>
        </ul>
    </nav>
  </header>

  <!--main-->
  <main>
    <h1>アーティスト一覧</h1>
    <ul>
        {% for artist in artists %}
            <li class="artist-item">
                <div class="artist-image-container">
                    <img src="{{ artist.profile_image.url }}" alt="{{ artist.name }}" class="artist-image">
                </div>
                <a href="{% url 'musicapp:artist_detail' artist.id %}">{{ artist.name }}</a>
            </li>
        {% endfor %}
    </ul>
  </main>
  
</body>
</html>